@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
  font-size:14px;
  padding-top: 0!important;
  margin-top: 0!important;
  /* re-enable when ready */
}

h1{
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family: Signika,serif, sans-serif;
  font-size: 50px;
  padding:2%;
  margin:2%;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  color: #d4d4d4!important;
  text-decoration: none;
}

.view-filters form {
  text-align: center;
}

.js-form-type-search {
  vertical-align: middle;
  display: inline;
}

.pager li > a {
  background-color: #c21e3d!important;
  color: #fff;
  font-weight: bold;
  font-size: 250%;
}

.pager li > a:hover {
  transform: scale(0.9);
}

.test_blue {
  background-color: blue;
}

.promo-producten a {
  color: black;
}

.promo-font {
  font-family: Signika,serif, sans-serif;
}

.promo-producten {
    color: #c21e3d;
    margin-top: 20px;
    margin-bottom: 20px;
}
.promo-producten a:hover {
  color: #c21e3d;
}

.promo-file {
  color: white;
  background-color: #c21e3d;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  display: block;
  margin: 0 auto;

}

.promo-description {
  margin-top: 20px;
}

.promo-file:hover {
  color: black;
}

.promo {
  padding-bottom: 20px;
}

.date-size {
  font-size: 200%
}

.coupon-button {
  margin: 0 auto;
}

.promo-img {
  width: 30%;
  margin: 1% 1% 1% 34%;
}

.promo-img h2 {
  display: none;
}

.nav-custom {
  background-color: #fff;
  font-size:120%;
  font-family: Signika,serif, sans-serif;
  align-items: right;
}

.dropdown-toggle {
    color: #333333!important;
}

.navbar-text {
  color: black;
  font-family: Signika,serif, sans-serif;
  font-size: inherit;
}

.navbar-text:hover {
  color: #c21e3d!important;
}

.navbar-text .nav-link {
  color: #fff;
}

.navbar-drop:hover {
    color: #c21e3d!important;
}

.last-item {
  border-left: 2px solid #c21e3d;
  padding-left: 15px;
}

.header-custom {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.searchbar {
  border-radius: 25px;
  width: 300px!important;
  vertical-align: middle;
  margin: auto;
}
.block-search{
  display: flex;
}
.search-block-form {
  margin: auto;
}

.searchbar-btn {
  color:#fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.branding {
  justify-content: center;
  flex-direction: row;
  display: flex;
  background-color: #c21e3d;
  height: 20px;
}

.input-group {
  max-width: 25%;
}

.btn {
  background-color: #c21e3d;
}

.container-fluid {
  padding: 0 5%;
}

.carousel-custom {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.header-padding {
  padding: 10px 0;
}

.views-row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 450px;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease-in;
}

.thumbnail:hover {
  border-color: #c21e3d;
  transform: scale(0.95);
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.caption a {
  font-size: 2em;
  color: #c21e3d;
}

.uitgelichte-recepten {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.recepten-title {
  color: #c21e3d;
  display: inline;
}

.recept {
  width: 600px;
  height: 475px;
  margin: 0px 5px;
  padding: 10px;
  border-left: solid 2px #c21e3d;
  border-right: solid 2px #c21e3d;
}

.recepten-content {
  color: black;
}

.recept > h2 {
  font-size: 3rem;
  width: 80%;
  padding-left: 10%;
}

.recept > h2 > a {
  color: #363636;
  font-size: 0.75em;
}

.recept > h2 > a:hover {
  color: #c21e3d;
}

.btn-leesmeer {
  background-color: #c21e3d;
  border: none;
  border-radius: 1rem;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 2rem;
  margin-top: 5%;
}

.btn-leesmeer > a {
  color: white;
}

.btn-leesmeer > a:hover {
  color: white;
  font-weight: bolder;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recepten-grid {
  padding: 10px;
}

.footer {
  background-color: #c21e3d;
  color: white;
  display: flex;
  padding: 3%;
  margin: 0 auto;
  font-family: Signika,serif, sans-serif;
}

.footer h2 {
  color: white;
  font-weight: bold;
  font-size: medium;
}

.footer a {
  color: white;
  font-size: 14px!important;
}

.footer a:hover {
  color: black;
}

.padding-recepten-title {
  padding: 200px auto 10px auto;
}

.footer-content {
  padding: 0 5px 0 5px;
  font-size: 14px;
  color: white;
  display: block;
}

.footer-content-categorie {
  font-size: 14px;
  color: white;
}

.footer-column {
  padding: 0 5px 0 0;
}

.test {
  display: inline-block;
}

.field--type-text-with-summary > p {
  font-size: 26px;
  font-weight: 300;
  color: #707070;
}
.field--name-field-product-categorie .field--label {
  display: none;
}

.field--name-field-product-categorie .field--items {
  text-decoration: underline;
  display: flex;
  color: #707070;
  font-size: 17px;
  font-family: "Segoe UI";
  float: inherit;
}
.field--label {
  color: #c21e3d;
  font-size: 200%;
  font-weight: 500;
}
.field--item {
  font-size: 200%;
  font-weight: 500;
}
.page-header {
  color: #c21e3d;
  text-align: center;
  border-color: #c21e3d;
}
a:hover {
  color: #c21e3d;
}
.field--name-field-product-categorie .field--items {
  text-decoration: none;
  display:flex;
}
.koopnu {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  background-color: #c21e3d;
  display: flex;
  width: 100%;
  height: 7rem;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top:5%;
}

.col {
  font-size: 4rem;
}
.rij {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #808285;
  padding-bottom:1%;
}
.rijIcon{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top:1%;
  font-size: 300%;
  color: #808285;
}

.receptOne {
  margin: auto;
  width: 100%;
  color: #808285;
}
.imgtxt {
  width: 100%;
  display: flex;
}
.bodytext {
  padding: 5%;
  border-left: black;
}
.BedIng {
  padding-bottom: 5%;
  font-family: "Open Sans",sans-serif;
}
.centraal {
  display: flex;
  width: 60%;
}

.BedIng ul {
  list-style: none;
}

.BedIng ul li:before {
  content: '✓';
  margin-right: 2%;
}
.BedIng ol li {
  padding-left: 2%;
}

.BedIng ol{
  padding-left:4%;
}

.lang-label {
  display: flex;
  width: 4rem;
}

.language-hover:hover {
  background: #fff;
  color: #363636;
}

.navbar-btn {
  margin-right: auto;
}

.navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.afbtext {
  display: flex;
  text-align: center;
}
.gebruikteProducten {
  width:40%;
}

.koopnuteaser{
  margin-left: 10%;
  width:80%;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  background-color: #c21e3d;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top:5%;
}
.teaserProduct{
  width:100%;
}
.notfound {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 2% 2% 0% 2%;
}
.homeButton {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  background-color: #c21e3d;
  width: 8%;
  height: 6rem;
  justify-content: center;
  border-radius: 155px 200px 225px 205px/200px 225px 215px 225px;
}
.titelnotfound {
  text-shadow: 0 3px 0px, 0 6px 0px #333;
  color: #c21e3d;
  font-size: 10em;
  font-weight: 700;
  line-height: 0.6em;
}
.noacces {
  font-size: 8.25em;
  color: #2b2b2b;
  font-family: "Roboto Mono", monospace;
}
.productbodyimage{
  display: flex;
  justify-content: space-between;
}
.productimage{
  width:55%
}
.productbody{
  width:45%;
  margin:1%;
}

.productbody .field--item {
  font-size:150%;
  margin:1%;
  color: #c21e3d!important;
}

.nutri-img {
  padding-top: 2%;
  width: 30%;
  height: auto;
}

.logo-img {
  display: flex;
  height: auto;
}

.retailers-div {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.tabellen{
  display: flex;
}
.voedingelem{
  width:50%;
}
.voedingelem .field--item{
  float: right;
}
.voedingelem .field--label{
  color: #808285;
}
.voedingelem td{
  padding-bottom:2%;
}
.expand{
  color: white;
  font-size: 4rem;
  background-color: #c21e3d;
  display: flex;
  width: 15%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 5% auto 1%;
}
.expand .btn:hover, .koopnu .btn:hover{
  color:white;
}
.roderand{
  border-bottom: 2px solid #c21e3d;
}
.dikkerelijn{
  border-bottom: 5px solid #c21e3d;
}
.alling{
 width:100%;
 padding-left:25%;
}
.gebruiktin{
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}

.field.field--name-field-product-gebruikt-in.field--type-entity-reference.field--label-hidden.field--items.quickedit-field{
  display: flex;
}
.frontpage {
  width: 31%;
  margin: 1%;
  height: auto;
}
.field.field--name-field-title.field--type-string.field--label-hidden.field--item {
  font-size: 125%;
  color: #c21e3d;
  font-weight: normal;
}
.paragraph.paragraph--type--card-deck.paragraph--view-mode--default{
  display: flex;
  flex-wrap: wrap;
}
#bottom-wrapper .column {
  width: 25%;
  float: left;
}

#bottom-wrapper .block {
  margin: 0 15px;
}

#bottom-wrapper .block-title {
  margin-top: 15px;
}

#bottom-wrapper .region {
  margin: 15px 0;
}
@media only screen and (max-width: 654px) {
  h1{
    font-size: 22px;
  }
  .field--item{
    font-size:80%;
  }
  .field--label{
    font-size:80%;
  }
  .rijIcon{
    font-size:100%;
  }
  .productbody .field--item{
    font-size: 100%;
  }
  .field--type-text-with-summary > p {
    font-size: 10px;
  }
  .koopnu{
    font-size: 1em;
    height: 2em;
  }
  .recept{
    width: 100%;
    height: 100%;
  }

}
