{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
  <h2{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
        </div>
    </footer>
    {% endif %}
    <div{{ content_attributes.addClass('content') }}>
      <div class="promo-img">
        {{ content.field_product_promo_door }}
      </div>
      <div class="productbodyimage">
        <div class="productimage">
          {{ content.field_image }}
        </div>
        <div class="productbody">
          <h2>
          {{ content.field_product_categorie}}
          </h2>
          {{ content.body}}
          {% if 'A' in content.field_nutriscore.0 %}
            <img class="nutri-img img-responsive" src="https://i.imgur.com/cLYyKpx.png" alt="Nutri A">
          {% elseif 'B' in content.field_nutriscore.0 %}
            <img class="nutri-img img-responsive" src="https://i.imgur.com/azNMHbT.png" alt="Nutri B">
          {% elseif 'C' in content.field_nutriscore.0 %}
            <img class="nutri-img img-responsive" src="https://i.imgur.com/z9bazja.png" alt="Nutri C">
          {% elseif 'D' in content.field_nutriscore.0 %}
            <img class="nut ri-img img-responsive" src="https://i.imgur.com/w0FVw6V.png" alt="Nutri D">
          {% elseif 'E' in content.field_nutriscore.0 %}
            <img class="nutri-img img-responsive" src="https://i.imgur.com/YkZCJOg.png" alt="Nutri E">
          {% else %}
            <p>Geen nutriscore gekend</p>
          {% endif %}
          {# HIDDEN GALLERY FOUND AT https://imgur.com/a/qOKd13U #}
          <button class="btn koopnu" type="button" data-toggle="collapse" data-target=".multi-collapse" 
            aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
          </button>
          <div>
            <div class="retailers-div">
              {% for i in 0..4 %}
              <div>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    {% if "carrefour" in content.field_product_retailers[i] or ("Carrefour" in content.field_product_retailers[i]) %}
                      <a href="{{ content.field_product_retailers[i]['#url'] }}">
                        <img class="logo-img img-responsive" src="https://i.imgur.com/W6ygpG8.jpg" alt="Carrefour-logo">
                      </a>
                    {% endif %}
                    {% if "Delhaize" in content.field_product_retailers[i] or ("delhaize" in content.field_product_retailers[i]) %}
                      <a href="{{ content.field_product_retailers[i]['#url'] }}">
                        <img class="logo-img img-responsive" src="https://i.imgur.com/9kpkvOJ.jpg" alt="Delhaize-logo">
                      </a>
                    {% endif %}
                    {% if "colruyt" in content.field_product_retailers[i] or ("Colruyt" in content.field_product_retailers[i]) %}
                      <a href="{{ content.field_product_retailers[i]['#url'] }}">
                        <img class="logo-img img-responsive" src="https://i.imgur.com/EtI2BSV.jpg" alt="Colruyt-logo">
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="collapse-content">
        <div class="collapse" id="collapseExample">
          <div class="tabellen">
            <table class="voedingelem">
              <tr class="dikkerelijn">
                <td>{{ content.field_product_gewicht}}</td>
              </tr>
              <tr>
                <td>{{ content.field_voeding_energie}}</td>
              </tr>
              <tr class="roderand">
                <td>{{ content.field_voeding_kilocalorieen}}</td>
              </tr>
              <tr>
                <td>{{ content.field_voeding_vetten}}</td>
              </tr>
              <tr class="roderand">
                <td>{{ content.field_voeding_verzadigde_vetten}}</td>
              </tr>
              <tr>
                <td>{{ content.field_voeding_koolhydraten}}</td>
              </tr>
              <tr class="roderand">
                <td>{{ content.field_voeding_suikers}}</td>
              </tr>
              <tr class="roderand">
                <td>{{ content.field_voeding_eiwitten}}</td>
              </tr>
              <tr class="dikkerelijn">
                <td>{{ content.field_voeding_zout}}</td>
              </tr>
            </table>
            <div class="alling">
            {{ content.field_product_allergenen}}
            {{ content.field_product_ingredienten}}
            </div>
          </div>
          <div class="gebruiktin">{{ content.field_product_gebruikt_in}}</div> 
        </div>
      </div>
      <a class="btn collapsed expand" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      </div>
      </article>